.price {
    font-size: 20px;
    color: rgb(255, 51, 51);
    font-weight: bold;
}

.product-grid {
  display: grid;
  align-content: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
  max-width: 1200px;
  margin: auto;
}

.product-card {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  transition: transform 0.2s;
}

.product-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.product-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

.product-card h3 {
  margin: 15px 0 10px;
  font-size: 20px;
  color: #333;
}

.product-card p {
  font-size: 14px;
  color: #666;
}

.btn {
    display: inline-block;
    padding: 10px 15px;
    background-color: rgb(159, 15, 230);
    color: white;
    border: none;
}

.btn:hover {
    background-color: rgb(100, 11, 148);
}

@media (max-width: 600px) {
    .product-card img {
        height: 180px;
    }
    .product-card h3 {
        font-size: 18px;
    }
    .product-card p {
        font-size: 13px;
    }
}